---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<h1>RonCode Astro Basics...</h1>
	<p>tiempo actual:{new Date().toLocaleTimeString()}</p>
	<p id="hora"></p>
	<footer>Año: 2023</footer>

	<script>
		const time = document.querySelector("footer") as HTMLElement;
		const hora = document.querySelector("#hora") as HTMLParagraphElement;
		time.innerText = `Año: ${new Date().getFullYear()}`;
		hora.innerHTML = `tiempo actual: ${new Date().toLocaleTimeString()}`;
	</script>
</MainLayout>
